/**********
	home
**********/
.hero{height: 100vh;position: relative;margin-bottom: 185px;}
.hero_content{position: absolute;top: 50%;-webkit-transform: translateY(-40%);transform: translateY(-40%);left: 0;right: 0;}
.hero_content_text{max-width: 780px;overflow: hidden;color: #0c0c0c;}
.hero_content_text h1{font-size: 76px;line-height: 88px;font-weight: 900;letter-spacing: -1px;margin-bottom: 40px;}
.hero_content_text p{margin-bottom: 20px;font-size: 24px;line-height: 32px;color: #5f5f5f;}
.hero .arrow{position: absolute;bottom: 80px;left: 0;right: 0;margin:0 auto;cursor: pointer;width: 27px;height: 17px;fill: #0c0c0c;}

.works-section{padding: 25px 0 36px;position: relative;}
.title{max-width: 1000px; margin-bottom: 80px;font-size: 76px;line-height: 88px;letter-spacing: -1px;font-weight: 900;}
.works-section .lis .item{margin-right: 70px;width: calc(33.33% - 47px);margin-bottom: 68px;}
.works-section .lis .item:nth-child(3n){margin-right: 0}
.works-section .lis .item .pic{position: relative;margin-bottom: 16px;}
.works-section .lis .item .pic img{width: 100%;}
.works-section .lis .item .text{position: absolute;top: 0;left: 0; width: 100%;height: 100%;background-color: #00a0e9;color: #fff;font-size: 24px;line-height: 32px;padding: 24px 29px;-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;opacity: 0;transition: 0.5s;-webkit-transition: 0.5s;}
.works-section .lis .item .pic:hover .text{opacity: 1;transition: 0.5s;-webkit-transition: 0.5s;}
.works-section .lis .item .text p{}
.works-section .lis .item h4{font-size: 24px;line-height: 32px;font-weight: 600;}
.works-section .lis .item h4 span{cursor: pointer;}
.works-section .lis .item h4:hover span{border-bottom: 2px solid #0c0c0c;}
.works-section .more_btn{bottom: 0;width: 184px;position: absolute;right: 0;}

.capabilities{padding: 207px 0 88px;}
.capabilities .lis .item{padding: 34px 30px 32px;margin: 0 0 2px;width: 50%;height: 514px;transition: 0.3s;-webkit-transition: 0.3s;}
.capabilities .lis .item h3{margin-bottom: 22px;font-size: 36px;line-height: 42px;}
.capabilities .lis .item p{font-size: 20px;line-height: 32px; margin-bottom: 22px;color: #5f5f5f;}
.capabilities .lis .item a{display: inline-block;vertical-align: top;font-size: 24px;line-height: 30px;letter-spacing: -1px;color: #fff;opacity: 0;text-decoration: underline; transition: 0.3s;-webkit-transition: 0.3s;}
.capabilities .lis .item:hover{background-color: #00a0e9;color: #fff;transition: 0.3s;-webkit-transition: 0.3s;}
.capabilities .lis .item:hover a{opacity: 1;transition: 0.5s;-webkit-transition: 0.3s;}
.capabilities .lis .item:hover p{color: #fff;}
.capabilities .lis .item:nth-child(3),.capabilities .lis .item:nth-child(4){height: 400px;}

.clients{padding: 95px 0 110px;}
.clients .lis .item{height: 186px;padding: 40px 60px;width: 33.33%;border: 1px solid #ebebeb;margin: -1px 0 0 -1px;position: relative;}
.clients .lis .item img{max-width: 100%;margin:0 auto;}
.clients .lis .item .text{font-size: 20px;line-height: 32px;text-align: center; position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #00a0e9;color: #fff; opacity: 0;transition: 0.3s;-webkit-transition: 0.3s;}
.clients .lis .item:hover .text{background-color: #00a0e9;transition: 0.3s;-webkit-transition: 0.3s;opacity: 1;}

.related-posts-section{padding: 218px 0 222px;}
.related-posts-section .lis{max-width: calc(100% - ((100vw - 1250px)/2) + 42px);margin: 0 auto -30px;}
.related-posts-section .lis .item{padding: 78px 54px 66px;width: calc(33.33% + 1px);border: solid rgba(12,12,12,.1);border-width: 0 1px;margin-right: -1px;margin-bottom: 30px;font-size: 12px;color: rgba(12,12,12,.5);line-height: 22px;}
.related-posts-section .lis .item h3{margin-bottom: 28px;font-size: 48px;line-height: 54px;}
.related-posts-section .lis .item:hover{background-color: #0c0c0c;color: rgba(255,255,255,0.5);transition: background-color .3s;-webkit-transition: background-color .3s;transition: color .3s;-webkit-transition: color .3s;}
.related-posts-section .lis .item:hover h3 a{color: #fff;transition: color .3s;-webkit-transition: color .3s;}

.get-in-touch{padding: 115px 0;background-color: #00a0e9;text-align: center;color: #fff;}
.get-in-touch h4{font-size: 24px;line-height: 32px;margin-bottom: 20px;}
.get-in-touch a{display: inline-block;cursor: pointer; vertical-align: top;position: relative;letter-spacing: -1px;font-weight: 900;font-size: 76px;color:#fff;line-height: 88px;z-index: 1}
.get-in-touch a:before{content: "";position: absolute;height: 4px;z-index: -1;transition: height 1.1s;right: -3px;left: -3px;bottom: -3px;background: #0c0c0c;}
.get-in-touch a:hover:before{height: 100%;}

@media screen and (max-width:1679px ) and ( min-width:1280px){
.ward{width: 1055px;}
.hero{height: 100vh;position: relative;margin-bottom: 100px;}
.hero_content_text h1{font-size: 52px;line-height: 56px;margin-bottom: 30px;max-width: 630px}
.title{max-width: 580px;font-size: 52px;line-height: 56px;margin-bottom: 50px;}
.works-section .lis .item .text{font-size: 18px;line-height: 26px;}
.capabilities {padding: 150px 0 66px;}
.capabilities .lis .item p{font-size: 18px;line-height: 26px;}
.clients {padding: 70px 0 78px;}
.clients .lis .item .text{font-size: 18px;line-height: 26px;}
.related-posts-section{padding: 88px 0 150px;}
.related-posts-section .lis{width: 100%;max-width: 1470px;margin: 0 auto -30px;padding: 0 15px;}
.related-posts-section .lis .item {padding: 66px 54px;width: 33.33%}
.related-posts-section .title{max-width: 100%;}
.related-posts-section .lis .item h3{margin-bottom: 12px;font-size: 36px;line-height: 42px;}
.get-in-touch.color {padding: 80px 0 76px;}
.get-in-touch h4{font-size: 18px;line-height: 32px;margin-bottom: 9px;}
.get-in-touch a{font-size: 52px;line-height: 56px;}
}

@media only screen and (max-width:1280px){
.ward{width: 1055px;}
.hero{height: 100vh;position: relative;margin-bottom: 100px;}
.hero_content_text h1{font-size: 52px;line-height: 56px;margin-bottom: 30px;max-width: 630px}
.title{max-width: 580px;font-size: 52px;line-height: 56px;margin-bottom: 50px;}
.works-section .lis .item .text{font-size: 18px;line-height: 26px;}
.capabilities {padding: 150px 0 66px;}
.capabilities .lis .item p{font-size: 18px;line-height: 26px;}
.clients {padding: 70px 0 78px;}
.clients .lis .item .text{font-size: 18px;line-height: 26px;}
.related-posts-section{padding: 88px 0 150px;}
.related-posts-section .title{max-width: 100%;}
.related-posts-section .lis .item h3{margin-bottom: 12px;font-size: 36px;line-height: 42px;}
.get-in-touch.color {padding: 80px 0 76px;}
.get-in-touch h4{font-size: 18px;line-height: 32px;margin-bottom: 9px;}
.get-in-touch a{font-size: 52px;line-height: 56px;}
}

/**********
  details
**********/
.main{padding-top: 235px;}
.case-study {padding-top: 34px;text-align: left;margin-top: -20px;}
.back-arrow-link {display: inline-block;font-size: 14px;line-height: 22px;text-transform: uppercase;margin-bottom: 10px;padding-left: 20px;margin-right: 20px;}
.back-arrow-link, .js-custom-scroll {position: relative;}
.back-arrow-link, .link{color: #0c0c0c;font-weight: 600;}
.case-study .back-arrow-link{top: auto;-webkit-transition: color .3s;transition: color .3s;padding-left: 20px;margin-right: 20px;}
.case-study .back-arrow-link:hover{color: #00a0e9}
.back-arrow-link::before {content: '';position: absolute;left: 0;top: 5px;width: 6px;height: 6px;border: 2px solid transparent;border-radius: 3px;border-bottom-color: currentColor;border-left-color: currentColor; -webkit-transform: rotate(45deg);transform: rotate(45deg);}
.no-touch .back-arrow-link::before {-webkit-transition: border-color .3s;transition: border-color .3s;}
.case-study .h1, .case-study h1{margin-bottom: 98px;font-size: 76px;line-height: 88px;font-weight: 900;}
.fullwidth-image {height: auto;max-height: 660px; overflow: hidden;margin-bottom: 75px;position: relative;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;width: 100%;z-index: -1;}
.fullwidth-image:before {content: "";width: 100%;display: block;height: 0;pointer-events: none;padding-top: 34.375%;}
.fullwidth-image img {position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: 0;}
.two-columns-holder {padding-top: 70px;margin-bottom: 150px;}
.two-columns-holder .content {width: 75%;}
.two-columns-holder aside {width: 150px;-webkit-box-ordinal-group: 3;-ms-flex-order: 2; order: 2;-ms-flex-negative: 0;flex-shrink: 0;margin: 0 0 0 30px;}
.two-columns-holder aside .block {margin-bottom: 65px;}
.two-columns-holder aside span {display: block;color: rgba(12,12,12,.6);font-weight: 500;font-size: 12px;line-height: 22px;margin-bottom: 7px;}
.two-columns-holder aside li {width: 100%;}
.two-columns-holder aside a {text-decoration: underline;font-weight: 400;font-size: 16px;line-height: 30px;}
.two-columns-holder aside a.big-link {font-weight: 600;font-size: 24px;line-height: 32px;text-decoration: underline;}
.two-columns-holder aside a.big-link:hover{text-decoration: none;}
.case-study .content .h3, .case-study .content h3 {margin-bottom: 63px;font-size: 36px;line-height: 42px;}
.two-columns-holder .content .h2, .two-columns-holder .content h2 {margin-bottom: 16px;line-height: 54px;font-size: 48px;letter-spacing: -1px;font-weight: 600;}
.two-columns-holder .content p { font-size: 18px;line-height: 26px;color: #5f5f5f;}

.full-width-gallery{margin-bottom: 50px;position: relative;}
.full-width-gallery .banner{}
.full-width-gallery .banner .swiper-slide img{width: 100%;}
.full-width-gallery .banner .swiper-button-prev, .swiper-button-next{color: #00a0e9}
.full-width-gallery .banner .swiper-pagination-bullet{background-color: #00a0e9}
.full-width-gallery .banner .swiper-button-prev:after, .swiper-button-next:after{font-size: 30px;}

.project-details-section {padding: 70px 0 151px;}
.project-details-section .h3, .project-details-section h3 {font-size: 48px;line-height: 54px;margin-bottom: 74px;max-width: 1100px;}
.project-details-listing {margin: 0 -95px 90px;}
.project-details-listing .item { width: calc(33.33% - 190px);margin: 0 95px 63px;font-size: 18px;line-height: 26px;padding-top: 35px;position: relative;}
.project-details-listing .item::before {content: ''; position: absolute;top: 0;left: 0;width: 12px;height: 7px;background-color: #00a0e9;}
.featured-images-listing {margin: 0 -65px -104px;}
.featured-images-listing .item {width: calc(50% - 130px); margin: 0 65px 104px;background-repeat: no-repeat; background-position: 50% 50%;background-size: cover;}
.featured-images-listing .item::before {padding-top: 109.8%;content: "";width: 100%;display: block;height: 0;pointer-events: none;}

.mockup-section {padding-bottom: 75px;}
.mockup-section .fullwidth-image {margin-bottom: 142px;height: calc(100vh - 80px);}
.mockup-section .h2, .mockup-section h2 {margin-bottom: 92px;max-width: 1100px;font-size: 48px;line-height: 54px;}
.mockup-section .image-wrap {padding-bottom: 73px;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(48.6%,transparent),color-stop(0,#00a0e9));background-image: linear-gradient(to bottom,transparent 48.6%,#00a0e9 0);background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;}
.mockup-section .image-heading {display: block;color: rgba(12,12,12,.6);font-weight: 500;font-size: 12px;line-height: 20px;margin-bottom: 22px;}
.image-scroll-block{max-height: 1040px;width: 100%;overflow-y: auto;}
.image-scroll-block .device-img{width: 100%;}
.mockup-section .phones-wrap {background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;background-color: transparent;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(54.8%,#00a0e9),color-stop(0,transparent));background-image: linear-gradient(to bottom,#00a0e9 54.8%,transparent 0);padding-top: 58px; margin-bottom: 156px;}
.phones-listing{padding-right: 8.08%;}
.phones-listing .slide {padding-top: 178px;width: 43.04%;}
.phones-listing .slide:nth-child(2n+2) {top: -178px;position: relative;}
.phones-listing .phone-holder {width: 100%;height: auto;margin-left: 0;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;}

.results {padding: 75px 0;}
.results .section-heading {margin-bottom: 150px;}
.results .h1, .results h1 {padding-top: 7px;margin-bottom: 46px;font-size: 76px;line-height: 88px;font-weight: 900;letter-spacing: -1px;width: 38%}
.marked-block:not(.fact):not(.marked-block), blockquote:not(.fact):not(.marked-block) {padding-left: 68px;padding-top: 17px;margin: 0 0 0 15px;max-width: none;width: 54.4%;display: block;font-size: 24px;line-height: 32px;position: relative;font-style: normal;color: #0c0c0c;font-weight: 600;}
.marked-block:not(.fact):not(.marked-block)::before, blockquote:not(.fact):not(.marked-block)::before {content: '';position: absolute;top: 0;left: 0;width: 38px;height: 30px;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;background-image: url(../images/icon/zs.png);}
.results .marked-block q, .results blockquote q {margin-bottom: 24px; padding-right: 35px;padding-bottom: 44px;display: block;quotes: none;font-size: inherit;line-height: inherit;border-bottom: 1px solid #ebebeb;}
.marked-block>div, blockquote>div {text-align: right;}
.marked-block cite, blockquote cite {text-align: left;display: inline-block;font-family: inherit;color: #0c0c0c;font-weight: 300;font-size: inherit;line-height: inherit;}
.marked-block cite span, blockquote cite span {display: block;font-family: inherit;font-weight: 500; opacity: .6;font-size: .5em;line-height: .91em;padding-top: 11px;}
.results .holder {width: 100%;max-width: 1470px;margin: 0 auto;padding: 0 15px;}
.results-listing {padding: 0 0 10.41%;border-bottom: 1px solid rgba(12,12,12,.1);position: relative;}
.results-listing .item {margin: 0 -1px 0 0;padding: 30px 85px 30px 95px;width: calc(33.33% + 1px);border: solid rgba(12,12,12,.1);border-width: 0 1px;}
.results-listing .item h2{font-size: 48px;line-height: 54px;letter-spacing: -1px;font-weight: 600;}
.results-listing .item h2 span{color: #00a0e9;}

.page-switch-section{padding: 75px 0 91px;display: block;background-color: #00a0e9;}
.page-switch-section a{ padding-left: 33px;-webkit-transition: color .3s;transition: color .3s;font-size: 46px;line-height: 54px;display: inline-block;position: relative;margin-top: 24px;max-width: calc(50% - 20px);color: #fff;font-weight: 600;letter-spacing: -1px;}
.page-switch-section a::before{top: -24px;content: attr(data-text);position: absolute;color: #fff;font-size: 12px;line-height: 22px;letter-spacing: 0;pointer-events: none;}
.page-switch-section a.prev::before {left: 33px;}
.page-switch-section a svg {top: 11px;width: 21px;height: 36px;fill: currentColor;position: absolute;}
.page-switch-section a.prev svg {left: 0;}
.page-switch-section a.next {margin-left: auto;text-align: right;padding-right: 38px;}
.page-switch-section a.next::before {right: 36px;}
.page-switch-section a.next svg {right: 0;}

.de-get-in-touch{background-color: #fff;color: #0c0c0c}
.de-get-in-touch .block{font-size: 24px;line-height: 32px;width: 50%;padding: 0 10px;}
.de-get-in-touch a{color: #0c0c0c;}
.de-get-in-touch a:before{background: #00a0e9;}
.de-get-in-touch p{margin-bottom: 30px;font-weight: 300;color: #5f5f5f;}
.de-get-in-touch .block:last-child{width: 470px;}

@media screen and (max-width:1679px ) and ( min-width:1280px){
.main{padding-top: 190px;}
.case-study .h1, .case-study h1{margin-bottom: 65px;font-size: 52px;line-height: 56px;}
.fullwidth-image {margin-bottom: 60px;}
.two-columns-holder {padding-top: 60px;margin-bottom: 100px;}
.project-details-section {padding: 50px 0 110px;}
.project-details-section .h3, .project-details-section h3{font-size: 36px;line-height: 42px;}
.project-details-listing {margin: 0 -40px 50px;}
.project-details-listing .item {width: calc(33.33% - 80px);margin: 0 40px 63px;color: #5f5f5f;}
.featured-images-listing { margin: 0 -40px -50px;}
.featured-images-listing .item {width: calc(50% - 80px);margin: 0 40px 40px;}
.mockup-section {padding-bottom: 40px;}
.mockup-section .fullwidth-image {margin-bottom: 96px;height: calc(100vh - 70px);}
.mockup-section .h2, .mockup-section h2 {margin-bottom: 80px;}
.mockup-section .image-wrap {padding-bottom: 50px;}
.image-scroll-block {max-height: 720px;}
.mockup-section .phones-wrap {margin-bottom: 80px;}
.phones-listing .slide {padding-top: 150px;}
.results {padding: 40px 0;}
.results .section-heading {margin-bottom: 60px;}
.results .h1, .results h1 {font-size: 52px;line-height: 56px;width: 28%;}
.results-listing .item{padding: 20px 55px;}
.page-switch-section {padding: 4.06vw 0 4.375vw;}
.page-switch-section a{font-size: 36px;line-height: 48px;}
.page-switch-section a svg{width: 15px;height: 28px;}
}

@media only screen and (max-width:1280px){
.main{padding-top: 190px;}
.case-study .h1, .case-study h1{margin-bottom: 65px;font-size: 52px;line-height: 56px;}
.fullwidth-image {margin-bottom: 60px;}
.two-columns-holder {padding-top: 60px;margin-bottom: 100px;}
.project-details-section {padding: 50px 0 110px;}
.project-details-section .h3, .project-details-section h3{font-size: 36px;line-height: 42px;}
.project-details-listing {margin: 0 -40px 50px;}
.project-details-listing .item {width: calc(33.33% - 80px);margin: 0 40px 63px;color: #5f5f5f;}
.featured-images-listing { margin: 0 -40px -50px;}
.featured-images-listing .item {width: calc(50% - 80px);margin: 0 40px 40px;}
.mockup-section {padding-bottom: 40px;}
.mockup-section .fullwidth-image {margin-bottom: 96px;height: calc(100vh - 70px);}
.mockup-section .h2, .mockup-section h2 {margin-bottom: 80px;}
.mockup-section .image-wrap {padding-bottom: 50px;}
.image-scroll-block {max-height: 720px;}
.mockup-section .phones-wrap {margin-bottom: 80px;}
.phones-listing .slide {padding-top: 150px;}
.results {padding: 40px 0;}
.results .section-heading {margin-bottom: 60px;}
.results .h1, .results h1 {font-size: 52px;line-height: 56px;width: 28%;}
.results-listing .item{padding: 20px 55px;}
.page-switch-section {padding: 4.06vw 0 4.375vw;}
.page-switch-section a{font-size: 36px;line-height: 48px;}
.page-switch-section a svg{width: 15px;height: 28px;}
}