/*currency*/
*{ margin:0; padding:0;}
html{}
body{margin:0;color:#0c0c0c; position: relative; font-family: Arial,"microsoft yahei",Helvetica; min-width:1280px; font-size:14px; background:#fff;word-wrap:break-word;}
ul,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd {margin:0px;padding:0px;border:none;list-style:none; font-weight: normal;}
a{text-decoration:none;text-shadow:none;font-weight:normal;color:#000;text-decoration:none;}
ul{list-style:none;}
textarea,input,button,select{outline:none;-webkit-appearance:none; font-family:Arial, Helvetica, sans-serif;}
img{border:none; display: block;}
span{margin:0; padding:0; cursor: auto;}
span:focus,div:focus {outline: none;}
button{border: none;background-color: transparent;}
h3{font-weight: 600;letter-spacing: -1px;}
h3 a{font-weight: 600;}

.Huans{-webkit-box-sizing: border-box;box-sizing: border-box;}
.flex{display:-webkit-box;display: -ms-flexbox;display:flex;flex-wrap:wrap;align-items:flex-start;}
.flexC{display:-webkit-box;display: -ms-flexbox;display:flex;align-items:center; flex-wrap:wrap;}
.flexE{display:-webkit-box;display: -ms-flexbox;display:flex;align-items:flex-end; flex-wrap:wrap;}
.fl-bet{-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content:space-between;}
.fl-cen{-webkit-box-pack: center;-ms-flex-pack: center;justify-content:center;}
.fl-end{-webkit-box-pack:right;-ms-flex-pack:right;justify-content:flex-end;}
.ward{margin:0 auto;width: 1280px;}
.clamp{display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;}
.btn{height:60px;line-height: 60px; margin-left: 25px;color: #fff;-webkit-transition: background-color .3s,color .3s;transition: background-color .3s,color .3s;font-weight: 600;font-size: 15px;text-align: center;background-color: #0c0c0c;vertical-align: middle;text-decoration: none;text-transform: uppercase;border: 0;white-space: nowrap;cursor: pointer;-webkit-appearance: none;-webkit-border-radius: 0;}
.btn:hover{background-color: #00a0e9;}
/**header**/
.header{width: 100%;position: fixed;top: 0;left: 0;right: 0;margin:0 auto;z-index: 99;transition: 0.5s;-webkit-transition: 0.5s;min-width: 1280px;}
.header.scrolled{background-color: #fff;-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);box-shadow: 0 0 10px rgba(0,0,0,.1);transition: 0.5s;-webkit-transition: 0.5s;}
.header .hd_wraper{padding: 50px 95px 34px;height: 144px;transition: 0.5s;-webkit-transition: 0.5s;}
.header.scrolled .hd_wraper{padding: 10px 95px 10px;height: 80px;transition: 0.5s;-webkit-transition: 0.5s;}
.header .hd_wraper .logo{height: 33px;}
.header .main_menu{}
.header .main_menu .menu ul li{padding: 0 30px 0 17px;min-width: 147px;height: 60px;line-height: 60px;}
.header .main_menu .menu ul li .menuA{font-size: 15px;line-height: 23px;font-weight: 600;text-transform: uppercase;z-index: 10;position: relative;}
.header .main_menu .menu ul li .menuA:before{content: "";position: absolute;top: 100%;left: 0;width: 100%;height: 2px;background-color: #000;-webkit-transform: translateY(-2px);transform: translateY(-2px);opacity: 0;-webkit-transition: opacity .5s ease,-webkit-transform .5s ease;transition: opacity .5s ease,transform .5s ease;transition: opacity .5s ease,transform .5s ease,-webkit-transform .5s ease;}
.header .main_menu .menu ul li .menuA:hover:before{opacity: 1;-webkit-transform: translateY(0);transform: translateY(0);}
.header .contactBtn{width: 210px;}

/**footer**/
.footer {padding: 117px 170px 57px;color: #bbb;background-color: #0c0c0c;}
.footer .offices-listing {position: relative;width: 1200px;margin: 0 -55px;padding-bottom: 63px;font-weight: 400;font-size: 16px;line-height: 24px;}
.footer .column {width: 290px;margin: 0 55px 29px;}
.footer .h3, .footer h3{letter-spacing: .5px;font-size: 24px;line-height: 32px;margin-bottom: 25px;color: #00a0e9;}
.footer address {display: block;font-style: normal;}
.footer .offices-listing a {color: inherit;}
.footer .offices-listing::after {content: '';position: absolute;bottom: 0;left: 55px;right: 55px;height: 1px;background-color: rgba(255,255,255,.07);}
.footer .in-touch {width: 290px;}
.footer .in-touch, .footer .locations {font-size: 16px;line-height: 24px;}
.footer .in-touch p {color: #fff;font-weight: 600;margin-bottom: 28px;}
.footer .in-touch .link {display: inline-block;font-size: 24px;line-height: 32px;margin-bottom: 34px;color: #fff;text-decoration: underline;}
.link::before {content: '';position: absolute;left: 0;bottom: -4px;width: 100%;height: 2px;color: inherit;background-color: currentColor;}
.icons-list {margin: 0 -31px;}
.icons-list li {margin: 0 31px;}
.icons-list a {-webkit-transition: opacity .3s;transition: opacity .3s;height: 18px;}
.icons-list svg {max-width: 100%;max-height: 100%;height: 100%;fill: #00a0e9;}
.icons-list svg:hover{opacity: 0.7}
.footer .bottom {font-weight: 500;font-size: 12px;line-height: 22px;padding-top: 45px;}
.footer .description {width: 690px;padding-right: 50px;-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;}
.footer .copyright {width: 290px;}
.footer .copyright li, .footer .copyright p {margin-bottom: 6px;}
.footer .offices-listing a:hover,.footer .copyright li a{text-decoration: underline;color: inherit;}

@media screen and (max-width:1679px ) and ( min-width:1280px){
.header.scrolled .hd_wraper{height: 70px;}
.header .main_menu .menu ul li{height: 50px;line-height: 50px;}
.header .contactBtn{width: 170px;}
.btn{height: 50px;line-height: 50px;}
.footer {padding: 116px 113px 40px;}
.footer .offices-listing{width: 642px;margin: 0 -17px;}
.footer .column{width: 180px;margin: 0 17px 29px;}
.footer .h3, .footer h3{font-size: 24px;line-height: 32px;margin-bottom: 25px;}
.footer .in-touch {width: 306px;}
.footer .bottom {padding-top: 45px;}
.footer .description {width: 640px;}
.footer .copyright {width: 306px;}
}

@media only screen and (max-width:1280px){
.header.scrolled .hd_wraper{height: 70px;}
.btn{height: 50px;line-height: 50px;}
.footer {padding: 116px 113px 40px;}
.footer .offices-listing{width: 642px;margin: 0 -17px;}
.footer .column{width: 180px;margin: 0 17px 29px;}
.footer .h3, .footer h3{font-size: 24px;line-height: 32px;margin-bottom: 25px;}
.footer .in-touch {width: 306px;}
.footer .bottom {padding-top: 45px;}
.footer .description {width: 640px;}
.footer .copyright {width: 306px;}
}







/*
display:flex;justify-content:space-between;align-items:center; flex-wrap:wrap;align-content:center
|flex-start|flex-end|center|space-between|space-around

overflow: hidden;text-overflow:ellipsis;white-space: nowrap;
display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;

left:0;top:50%;transform: translate(0,-50%);

transition:0.5s;
.IndEnvT:before,.IndEnvT:after{display:block;content:'';position: absolute;}
*/





.Run{transition:All 0.6s ease-in-out;-webkit-transition:All 0.6s ease-in-out;-moz-transition:All 0.6s ease-in-out;-o-transition:All 0.6s ease-in-out;}
.Run:hover{transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform: rotate(180deg);}

.Mover{transition:0.5s;transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;-o-transition:All 0.4s ease-in-out;}
.Mover:hover{transition:0.5s;transform:translate(0,-10px);-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);-o-transform:translate(0,-10px);-ms-transform:translate(0,-10px);}
.Mover_l{transition:0.5s;transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;-o-transition:All 0.4s ease-in-out;}
.Mover_l:hover{transition:0.5s;transform:translate(-10px,0);-webkit-transform:translate(-10px,0);-moz-transform:translate(-10px,0);-o-transform:translate(-10px,0);-ms-transform:translate(-10px,0);}
.enlarge img{ width:100%;transition:0.5s;}
.enlarge:hover img{-ms-transform:scale(1.05);-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05); transition:0.5s;}
.IndSupA{ width:100%;transition:0.5s;}
.IndSupA:hover{-ms-transform:scale(1.05);-moz-transform:scale(1.05);-webkit-transform:scale(1.05);-o-transform:scale(1.05);transform:scale(1.05); transition:0.5s;}


/*
display:flex;justify-content:space-between;align-items:center; flex-wrap:wrap;align-content:center
|flex-start|flex-end|center|space-between|space-around

overflow: hidden;text-overflow:ellipsis;white-space: nowrap;
display:-webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden;

transition:0.5s;
.IndEnvT:before,.IndEnvT:after{display:block;content:'';position: absolute;}
*/